.container {
  padding-left: 15px;
  padding-right: 15px;
  min-height: inherit;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $mobile) {
    width: $mobile;
  }
  @media (min-width: $tablet) {
    width: $tablet;
  }
  @media (min-width: $desctop) {
    width: $desctop;
  }
}
