.header {
  min-height: $header-mob-heught;
  position: relative;
  border-bottom: $header-border;
  @media screen and (min-width: 768px) {
    min-height: $desktop-height;
  }
}

// logo
.site-logo {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  color: $secondary-color;
  @media (min-width: $tablet) {
    margin-right: 81px;
  }
  @media (min-width: $desctop) {
    margin-right: 85px;
  }
  @media (min-width: $desctop) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-span {
  color: $primary-color;
}

// menu mobile button

.mobile-button {
  display: inline-flex;
  & .icon-menu,
  & .icon-cross {
    background-color: #ffffff;
  }
  &:focus .icon-menu,
  &:focus .icon-cross,
  &:hover .icon-menu,
  &:hover .icon-cross {
    fill: $secondary-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobile-button .icon-cross {
  display: none;
}

.mobile-button.is-open .icon-cross {
  display: block;
}

.mobile-button.is-open .icon-menu {
  display: none;
}

// menu-container

.menu-container {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;

  @media (max-width: 767px) {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    box-shadow: $header-menu-border;
    background-color: $modile-menu-color;
    padding: 60px 20px;
  }
  &.is-open {
    display: block;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// nav

.nav {
  @media (min-width: $tablet) {
    margin-right: 84px;
  }
  @media (min-width: $desctop) {
    margin-right: 305px;
  }
}

// main navigation

.navigation {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.navigation-item {
  display: block;

  @media (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  @media (min-width: $tablet) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.navigation-link {
  color: inherit;
  @include hover(color);
  &:hover,
  &:focus {
    color: $secondary-color;
  }
  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.14;
  }
}

// contacts

.contacts {
  @media (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  @media (min-width: $desctop) {
    flex-direction: row;
    align-items: center;
  }
}

.contacts-item {
  display: block;
  color: $secondary-text-color;
  @media (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  @media (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media (min-width: $desctop) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.contacts-link {
  display: flex;
  justify-content: center;
  align-items: center;
  @include hover(color);
  color: $secondary-text-color;
  &:hover,
  &:focus {
    color: $secondary-color;
  }
  @media (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.16;
  }
  @media (min-width: $desctop) {
    font-size: 14px;
    line-height: 1.16;
  }
}

.contacts-svg {
  fill: $secondary-text-color;
  margin-right: 10px;
  @include hover(fill);
  .contacts-link:hover &,
  .contacts-link:focus & {
    fill: $secondary-color;
  }
}

// current page

.current-page {
  color: $secondary-color;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $secondary-color;
    @media (max-width: 767px) {
      margin-top: 8px;
    }
    @media (min-width: $tablet) {
      margin-top: 28px;
    }
  }
}
